{% load static i18n %}{% load render_bundle from webpack_loader %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}View It{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="FOSS video hosting platform">
    <meta name="author" content="Julio Fajardo">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    {% render_bundle 'project' 'css' %}
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}

      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}

    {% endblock javascript %}

    {% block template_javascript %}
      <!-- place template specific Javascript using this tag -->
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@8.0.0/themes/satellite-min.css" integrity="sha256-p/rGN4RGy6EDumyxF9t7LKxWGg6/MZfGhJM/asKkqvA=" crossorigin="anonymous">

  </head>

  <body class="container bg-black text-light">
      <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark px-4 py-3 shadow">
            <!-- Logo -->
            <a class="navbar-brand ms-lg-5 mb-lg-0 mb-4 text-light" href="{% url 'home' %}">
              <img src="" class="h-8" alt="View.it">
            </a>
            <!-- Navbar toggle -->
            <button class="navbar-toggler mb-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fas fa-bars text-white" style="font-size:1.2rem;"></i>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <!-- Nav -->
              <div class="navbar-nav col-lg-6 mx-auto">
                  <div class="input-group">
                    <div id="meili" class="w-100"></div>
                    <div id="meili-results" class="w-100 position-absolute" style="z-index: 5; top:2.6rem"></div>
                  </div>
              </div>
              {% if request.user.is_authenticated %}
                <div class="dropdown navbar-nav ps-lg-5 mt-lg-0 mt-3">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ request.user.username }}
                  </button>
                  <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="{% url 'users:detail' request.user.username %}">{% translate "Your Channel" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'videos:upload' %}">{% translate "Upload a Video" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:update' %}">{% translate "Edit Channel Info" %}</a></li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a></li>
                  </ul>
                </div>
              {% else %}
                <!-- Right navigation -->
                <div class="navbar-nav ms-lg-5 mt-lg-0 mt-3">
                  <a class="nav-item nav-link text-light" href="{% url 'account_login' %}">
                    {% translate "Sign in" %}
                  </a>
                </div>
                <!-- Action -->
                <div class="navbar-nav ms-lg-5 mt-lg-0 mt-3 text-light">
                  <a class="nav-item nav-link text-light" href="{% url 'account_signup' %}" >
                    {% translate "Register" %}
                  </a>
                </div>
              {% endif %}
            </div>
        </nav>
      </header>

    <div>
      {% if messages %}
        <div class="container">
          {% for message in messages %}
            <div class="container fixed-top alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}" style="margin-top: 6rem;">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div style="margin-top: 6rem">
        {% block content %}
          <p>Use this document as a way to quick start any new project.</p>
        {% endblock content %}
      </div>

    </div> <!-- /container -->

    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
