{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="container p-5 d-flex flex-column align-items-sm-center">

    <section class="p-3 d-flex flex-row flex-wrap justify-content-md-between justify-content-center align-items-center text-center col-md-8 col-sm-12">
      <div class="d-inline-flex flex-row justify-content-start align-items-center">
        {% if user.avatar %}
          <div class="avatar-container m-3">
            <img class="rounded-circle profile-view-avatar border" src="{{ object.avatar.url }}" alt="{% translate 'Profile Picture' %}" style="width: 5rem; height: 5rem;">
          </div>
        {% endif %}
        <h1 class="m-3">{{ user.username }}</h1>
      </div>
      <div>
        <a class="btn btn-primary shadow" href="{% url 'account_email' %}" role="button">{% translate "Manage Email Addresses" %}</a>
      </div>

    </section>


    <section class="m-2 col-md-8 col-sm-12">
      <form class="form-horizontal d-flex flex-column font-weight-bold" method="post" action="{% url 'users:update' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls d-flex flex-column">
            <button type="submit" class="btn btn-primary shadow">{% translate "Update" %} <i class="fa-solid fa-angles-right"></i></button>
          </div>
        </div>
      </form>
    </section>

  </div>
{% endblock %}
