{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% translate "Update Video" %}{% endblock %}

{% block content %}

    <div class="container">
        <section class="pb-2 mb-4 border-bottom">
            <div class="d-flex flex-column justify-content-center">
                <h1>{% translate "Update video details." %}</h1>
                <div>
                    <a class="btn btn-secondary" href="{% url 'videos:detail' object.url_slug %}"><i class="fa-solid fa-angles-left"></i> {% translate "Go Back" %}</a>
                <div>
            </div>
        </section>

        <section class="mb-5">
            <form class="signup d-flex flex-column justify-content-center" id="signup_form" method="post" action="{% url 'videos:update' object.url_slug %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary" type="submit">{% translate "Update" %} <i class="fa-solid fa-angles-right"></i></button>
            </form>
        </section>
    </div>

{% endblock %}
